<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather & Air Quality Status</title>
    <link rel="stylesheet" href="/css/weather-page.css">
</head>
<body>
<div class="container">
    <div class="search-box">
        <form action="/weather/city" method="get">
            <label>Search city: </label>
            <label>
                <input type="text" name="city" placeholder="Enter city name" required>
            </label>
            <button type="submit">Search</button>
        </form>
    </div>
    <div th:replace="~{fragments/weather-info :: weatherInfo}"></div>
    <div class="subscribe-redirect">
        <a href="/email/subscribe" class="subscribe-link-button">📬 Go to Subscription Page</a>
    </div>
    <div class="logout">
        <form action="/logout" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
    <div class="footer">
        <p>Weather & Air Quality data provided by OpenWeather API</p>
        <p>Sent at <span th:text="${timestamp}"></span></p>
    </div>
</div>
</body>
</html>
